html {
    background-color: black;
    scroll-behavior: smooth;

}

#typewriter{
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  color: white;
  margin-left: 50px;
}

body {
    /*margin: 0*/
    padding: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
nav {
    border: white 1px solid;
    width: 99%; /*com 100%, não aparece a border-right*/
    overflow: hidden;
    position: fixed;
    top: 0;
    text-align: center;

}
.menu {
    list-style-type: none;
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    border-style: white solid;
    background: #000000;
  }

li{
    margin: 10px 40px;
    padding: 5px;
}

li a {
    color: white;
    text-decoration: none;
  }

a {
    padding: 20px;
}

#home{
    height: 400px;
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-left: 100px;

    
}


#work{
    height: 800px;
    width: 100%;
    display: flex;
    margin: 200px 50px;
    justify-content: center;
    align-items: center;
    
}
#titlework{
  margin: 10px;
  height: 200px;
  width: 200px;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: solid white 5px;
  justify-content: center;
  display: flex;
  align-items: center;

  
}

#worklist{
  list-style-type: none;
  margin: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}


#skills{
    height: 800px;
    display: flex;
    width: 90%; 
    margin: 200px 50px;
    justify-content: center;
    align-items: center;
    
}
#titleskills{
  margin: 10px;
  height: 200px;
  width: 600px;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: solid white 5px;
  justify-content: center;
  display: flex;
  align-items: center;
    
  
    
}

#skillslist{
  list-style-type: none;
  margin: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
    
    
}

#hobbies{
    height: 800px;
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin: 200px 50px;
    justify-content: center;
    align-items: center;
}

#titlehobbies{
    margin: 10px;
    height: 200px;
    width: 200px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    border: solid white 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    }

#hobbieslist{
    
    display: flex;
    list-style-type: none;
}

#contacts{
    height: 800px;
    width: 100%;
    display: flex;
    margin: 200px 50px;
    justify-content: center;
    align-items: center;
    
}
#titlecontacts{
  margin: 10px;
  height: 200px;
  width: 200px;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: solid white 5px;
  justify-content: center;
  display: flex;
  align-items: center;

  
}

#contactslist{
  list-style-type: none;
  margin: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

#linkedin {
    padding: 0;
    margin: 0;
    text-decoration: underline;
}

