nav {
    width: 99%;
    
}
.menu {
    font-size: 12px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    margin-top: 3px;

}

li{
    margin: 1px;
    padding: 0px;
}


#home{
    height: 875px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 50px 50px
    
}

#work{

    height: 875px;
    margin: 25px 25px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#worklist{
    
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;

}

#skills{

    height: 875px;
    margin: 25px 25px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#titleskills {
    margin: 0px;
    height: 200px;
    width: 200px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    border: solid white 5px;
    justify-content: center;
    display: flex;
    align-items: center;


}

#skillslist{
    
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;

}
#hobbies {
    height: 875px;
    margin: 25px 25px;
    align-items: center;
    justify-content: center;
}

#hobbieslist {
    
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;

}

#contacts{

    height: 875px;
    margin: 25px 25px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#contactslist{
    
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;

}